<li>
	{{burger_name}}

	<button type="button" class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat{{else}}Un-eat{{/if}}
	</button>

	<button type="button" class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE!</button>
</li>
